#login-form {
  margin-left: 35%;
    margin-right:25%;
    width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 20em;
  background-color: #ff9900;
  flex-direction: column;
  
}
form {
  display: inline-block;
<<<<<<< HEAD
} 

.flex-container {
  flex-direction: column-reverse;
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
  align-items: center;
=======
  background-color:beige;
  text-align: center; margin-right: auto;
>>>>>>> 6467b14e20ce8470902132c170ef2b97ca61a9db
}
